*{
		margin: 0;
		padding:0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
}

body{
	background: url('../img/sky.png') repeat-x #3070a8;
}

main{
	display: block;
	width: 256px;
	height: 256px;
	margin: 5% auto 0;
	background: url('../img/background.png') no-repeat center;
	background-position: 50% 100%;
	-webkit-animation: backgroundMove 10s infinite;
}

@-webkit-keyframes backgroundMove{
	75%{ background-position: 50%; width: 256px; height: 256px;}
	100%{ width: 1009px; height: 528px; }
}