*{
		margin: 0;
		padding:0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
}

body{
	background: url('../img/sky.png') repeat-x #3070a8;
}

main{
	display: block;
	margin: 0 auto;
	width: 256px;
}	

.animation{
	overflow: hidden;
	width: 100%;
	height: 256px;
	margin: 50% auto;
	padding-top: 0%;
	background: no-repeat center;
	background-image: url('../img/background.png');
	background-position: 50% 100%;
	-webkit-animation: backgroundMove 5s infinite linear;
}

@-webkit-keyframes backgroundMove{
	0%{ padding-top: 100%; }
	16.6%{ padding-top: 50%; background-position: 50% 100%; }
	33.3%{ padding-top: 50%; background-position: 50% 10%; }
	50%{ background-position: 50% 10%; padding-top: 0%; background-image: url('../img/background.png'); }
	50.1%{ padding-top: 100%; background-image: url('../img/castleinterior.png'); background-position: 50% 100%;}
	66.6%{ padding-top: 50%; background-position: 50% 100%; }
	83.3%{ padding-top: 50%; background-position: 50% 10%; }
	100%{ padding-top: 10%; background-position: 50% 10%; background-image: url('../img/castleinterior.png'); }
}

.link {
	background: url('../img/walkupsprite.png');
	 -webkit-animation: walk 1s steps(11,end) infinite; 
	width: 20px;
	height: 25px;
	margin: 0 auto;
}	
@-webkit-keyframes walk {
		to { background-position: -241px 0 }
	}