

*{
	margin: 0;
	padding: 0;

}

body{
	font-family: Helvetica, Arial, sans-serif;
}

main{
	display: block;
	width: 90%;
	margin: 0 auto;
	color: #191919;
}

main h1, main h2, main h3{
	margin: 1.5em 0;
	text-transform: uppercase;
	text-align: center;
}

main h1::before{
	content: 'FUCKING';
	display: block;
	font-size: 0.5em;
	line-height: 0.8em;
	text-shadow: 0;
	letter-spacing: 0em;
}

main h1{
	color: #213;
	margin: 0 0 0.5em;
	text-shadow: 0 0.05em #191919, 0 0.1em white, 0 0.15em #191919;
	font-size: 30em;
	letter-spacing: 0.1em;
}

main h2{
	font-size: 8em;
}

main h3{
	font-size: 4em;
}

main ol li{
	list-style: none;
	font-size: 3em;
	text-align: center;
}

.demobox{
	margin: 25% 0;
	text-align: center;
}

.demobox a{
	display: block;
	font-size: 5em;
}

.demobox a:hover{
	cursor: help;
	opacity: 0.7;
	font-size: 5.5em;
}

.demobox a:active{
	-webkit-filter: blur(10px);
}

.demobox input{
	width: 50%;
	font-size: 5em;
	padding: 0.5em;
}

.demobox input:focus{
	outline: 10px solid red;
}

.demobox ul.animals li{
	list-style: none;
	font-size: 3.5em;
	font-weight: 900;
	text-transform: uppercase;
}

.demobox ul.animals li:first-child{ text-decoration: line-through; }
.demobox ul.animals li:last-child{ text-transform: lowercase; }

.demobox ul.animals li:nth-child(1){ color: red; }
.demobox ul.animals li:nth-child(2){ color: blue; }
.demobox ul.animals li:nth-child(3){ color: green; }
.demobox ul.animals li:nth-child(4){ color: yellow; }

.demobox ul.animals li:nth-child(2n){ font-style: italic; text-shadow: 0 0.075em black; }

.demobox ul.animals li:last-child::before{
	content: '>';
	margin-right: 0.35em;
}

.demobox .loremtext p{
	font-size: 1.5em;
	line-height: 1.15em;
	padding: 0 1em;
}

.demobox .loremtext p::before{
	content: 'THIS IS BEFORE THE TEXT ';
	color: red;
}

.demobox .loremtext p::after{
	content: ' AND THIS IS AFTER THE TEXT';
	color: blue;
}

.demobox .boxsizing{
	overflow: hidden;
	width: 50%;
	margin: 0 auto;
	background: #666;
}

.demobox .boxsizing img{
	border-radius: 50%;
	float: left;
	border: 10px solid black;
	width: 50%;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	 		box-sizing: border-box;
}

.demobox .colours{
	width: 50%;
	margin: 0 auto;
	height: 200px;
	background-color: red;
	background-color: #FF0000;
	background-color: rgb(255, 0, 0);
	background-color: hsl(0, 100%, 50%); /* 0-360 colour, saturation, lightness */
	background-color: rgba(255, 0, 0, 0.5);
	background-color: hsla(0, 100%, 50%, 0.5);
}