*{ margin: 0; padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

button{ border: none; outline: none; text-shadow: inherit; font-family: inherit; }
button:hover{ cursor: pointer; }

body{
	color: #272727;	
	text-shadow: 1px 1px 0 #DDD, 2px 2px 0 rgba(0,0,0,.5);
	background: #F5F5F5;
	font-family: 'Times New Roman', serif;
}

main{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 300px;
}

h1{	
	height: 50px;
	padding: 10px;
	font-size: 1.5em;
	font-weight: 500;
	text-align: center;
}

canvas{
	display: block;
	color: #272727;
	border-top: 3px double;
	border-bottom: 3px double;
}

.controls,
.buttons{ overflow: hidden; }

.buttons button{
	float: left;
	font-size: 1.5em;
	font-weight: 900;
	color: #272727;
	border: 3px double;
	background: #DDD;	
}

.buttons button:hover{ border: 3px solid; }	

.win-lose{
	display: none;
	overflow: hidden;
	padding: 40px 0;
	width: 100%;
	position: absolute;
	top: 50px; left: 0; bottom: 0;
	text-align: center;
	background: rgba(255,255,255,.75);
}

.win-lose h2{ font-size: 2.5em; }

.win-lose p{ font-size: .85em; }

.win-lose button{	
	border: 3px double;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px 20px;
	font-size: 1.5em;
}

.win-lose button.win-button{ color: #314E19; }
.win-lose button.lose-button{ color: #B81D1D; }

.win-lose button span{ font-size: .75em; }