*{ margin: 0; padding: 0; box-sizing: border-box; }

body{ background: #F5F5F5; }

main{
	display: block;
	width: 500px;
	margin: 10px auto;
}

h1{
	color: #707070;
	padding: 10px;
	font-size: 1.5em;
	font-family: Helvetica;
	text-align: center;
	text-transform: uppercase;
}

canvas, .buttons{
	margin-top: 10px;
	width: 500px;
	background: #DDD;
	box-shadow: -5px -5px 0 rgba(0, 0, 0, 0.15);
}

.buttons{ overflow: hidden; }

button{
	cursor: pointer;
	width: 83px;
	height: 83px;
	float: left;
	border: none;
	box-shadow: inset -5px -5px 0 rgba(0,0,0,.2);
}

button:hover{ box-shadow: inset -3px -3px 0 rgba(0,0,0,.15); }
button:active{ box-shadow: none; }