*{ margin: 0; padding: 0; box-sizing: border-box; }

body{ background: #F5F5F5; }

main{ display: block; }

h1{
	color: rgba(0,0,0,.25);
	padding: 10px;
	font-size: 3em;
	font-family: Helvetica;
}

canvas, ul{ float: left; }

.buttons{
	overflow: hidden;
	width: 400px;
}

button{
	cursor: pointer;
	width: 100px;
	height: 100px;
	float: left;
	border: none;
	box-shadow: inset -5px -5px 0 rgba(0,0,0,.2);
}

button:hover{ box-shadow: inset -5px -5px 0 rgba(0,0,0,.15); }
button:active{ box-shadow: inset -2px -2px 0 rgba(0,0,0,.25); }